@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.App {
  text-align: center;
}

* {
  font-family: 'Press Start 2P', cursive;
  background-color: #202223;
  color: whitesmoke;
}


ul{
  list-style: inside;
}

.App {
  text-align: center;
}

ul {
  text-align: center;
}

li {
  margin-top: 15px;
  padding-top: 5px;
}

img {
  margin: auto;
  text-align: center;
  display: block;
}

button {
  background-color: #202923;
  padding: 20px;
  margin: auto;
  display: inline-block;
}

h1 {
  color: #19517c;
}
h3 {
  color: #ac1516;
}